/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --navigation-text-color: #ff0070;
  --navigation-text-color-hover: #ff007066;
  --header-title-text-color: #db00ff;
  --accent-color: #ff0070;
  --block-title: #ff0070;
  --title-text-decor-color: #000028;
  --text-block-color: #f1b2ce;
  --title-text-shadow-color: #ff0070;
  --decorated-zone-color: #ff0070;
  --background-color: #000028;

  background-image: url(../images/cover-image-dark.png);
}

.theme_dark .rec-decoration {
  display: flex;
}
